* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    position: relative;
    height: 100vh;
}

.main {
    display: flex;
    width: 100vw;
    height: 95vh;
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
}

.photo {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin-top: auto;
    margin-bottom: auto;
}

.photo img {
    height: 150px;
}

.description {
    align-content: center;
    justify-content: center;
    line-height: 4em;
    padding: 20px;
}

.description-text {
    line-height: 2em;
}

.footer {
    bottom: 10px;    
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
}

.mail_contact {
    float: right;
    padding-left: 25px;
    padding-right: 25px;
}

@media screen and (max-width: 800px) {
    body {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: small;
        background-color: white;
        position: relative;
        height: 100vh;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: 100vh;
        box-sizing: border-box;
        padding-bottom: 150px;
    }
    .photo {
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin: auto;
    }
    .title_text {
        line-height: 1.2em;
        padding-bottom: 10px;
    }
    .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        line-height: 4em;
    }
    .footer {
        display: flex;
        flex-flow: column;
        height: 50px;
        line-height: 1.5em;
        align-items: center;
        margin-top: -80px;
    }
    .copyright {
        margin: auto;
    }
    
    .mail_contact {
        margin: auto;
    }
    
}